################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

public
/paket-files
/node_modules
/.vs/UnicodeAnalyzer
/.paket
.ionide
bin
obj
